<div class="container" @*ng-app="guanApp"*@>
    <div>
        <div class="scrollable-content scrollable-nice scrollable-medium panel col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Street</th>
                        <th>City/State/ZipCode</th>
                        <th>Street Data</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody ng-repeat="signs in addressListingCtrl.allStreetData" class="border-red">
                    <tr ng-class-odd="'odd'">
                        <td ng-class-odd="'odd'">{{signs.Line1}}</td>
                        <td ng-class-odd="'odd'">{{signs.City}}, {{signs.State}} {{signs.zipCode}}</td>
                        <td ng-class-odd="'odd'">{{signs.StreetHourStart}} - {{signs.StreetHourEnd}} - {{signs.DayOfWeek | dayOfWeekFilter}} - {{signs.TimeLimit}} Parking</td>
                        <td ng-class-odd="'odd'"><a ng-href="/{{signs.Id}}/edit"><button class="btn">Edit Sign Data</button> </a></td>
                        <td ng-class-odd="'odd'"><button class="btn" ng-click="addressListingCtrl.deleteSign(signs.Id)">Delete Sign Data</button></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
            @*<div class="" ng-repeat="info in addressListingCtrl.allStreetData">
                {{info.Line1}} - {{info.City}} - {{info.State}} - {{info.ZipCode}}
                {{info.StreetHourStart}} - {{info.StreetHourEnd}} - {{info.DayOfWeek | dayOfWeekFilter}}
               
            </div>*@
        </div>
</div>



@section scripts{

    @*<script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>*@
 



    <script type="text/javascript">

        var guanApp = angular.module('guanApp', [])


        guanApp.controller('addressController', ['$scope', function ($scope) {


            var vm = this;



            vm.onGetAllSuccess = _onGetAllSuccess;
            vm.onGetAllError = _onGetAllError;




            render();

            function render() {
                _getAllStreetData();



            }





            function _getAllStreetData() {

                var url = "/api/addresses";

                var settings = {
                    cache: false
                    , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                    , dataType: "json"
                    , success: vm.onGetAllSuccess
                    , error: vm.onGetAllError
                    , type: "GET"
                };

                $.ajax(url, settings);

            }





            function _onGetAllSuccess(data) {
                console.log(data);
                $scope.$apply(vm.allStreetData = data.Items);

            }

            function _onGetAllError(data) {


            }






        }])



        guanApp.filter('dayOfWeekFilter', [function () {
            return function (DayOfWeek) {
                switch (DayOfWeek) {
                    case 1:
                        return "Monday";
                    case 2:
                        return "Tuesday";
                    case 3:
                        return "Wednesday";
                    case 4:
                        return "Thursday";
                    case 5:
                        return "Friday";
                    case 6:
                        return "Saturday";
                    case 7:
                        return "Sunday";



                }

            }


        }])


    </script>
    }